<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">[Dec 2021] New <a href="https://arxiv.org/abs/2112.07133">preprint</a> introducing an information efficient method for visual representations learning through textual annotations available.</li>
      <li class="newsElement">[Dec 2021] New <a href="https://arxiv.org/abs/2112.00804">preprint</a> on grounded video representation learning available.</li>
      <li class="newsElement">[Nov 2021] We are looking to hire interns at Salesforce. Please reach out to me if you are interested in working on explainability or representation learning.</li>
      <li class="newsElement">[Sep 2021] <a href="https://arxiv.org/abs/2107.07651">Our paper</a> has been accepted at NeurIPS'21 as a Spotlight (top 3% of submissions).</li>
      <li class="newsElement">[Apr 2021] Excited to announce the first edition of <b>"Towards Robust, Trustworthy, and Explainable Computer Vision</b> tutorial at ICCV'21.</li>
      <li class="newsElement">[Mar 2021] <a href="https://arxiv.org/abs/2010.10038">Our paper</a> has been accepted at NAACL'21.</li>
      <li class="newsElement">[Feb 2021] <a href="https://arxiv.org/abs/2012.04630">Our paper</a> has been accepted at CVPR'21.</li>
        <li class="newsElement">[Dec 2020] I will be hosting <a href="https://arxiv.org/abs/2012.04630">Salesforce's Computer Vision round table session</a> at NeurIPS'20. Join me on 8th December at 11 am eastern time to know more about our efforts towards solving computer vision.</li>
      <li class="newsElement">[Dec 2020] New <a href="https://arxiv.org/abs/2012.04630">preprint</a> on fixing the visual grounding ability of Contrastive Self-supervised models available.</li>
      <li class="newsElement">[Nov 2020] <a href="https://arxiv.org/abs/2010.10038">Our paper</a> will be presented at <a href="https://inductive-biases.github.io/">Interpretable inductive biases and physically structured learning Workshop at NeurIPS'20</a>.</li>
      <li class="newsElement">[Oct 2020] New <a href="https://arxiv.org/abs/2010.10038">preprint</a> on improving the consistency of VQA models available. Work led by <a href="https://sameerdharur.github.io/">Sameer Dharur</a>.</li>
      <li class="newsElement"><b>[Jun 2020]</b> I am joining Salesforce Research (formerly Metamind) as a Sr. Research Scientist.</li>
      <li class="newsElement">[Mar 2020] <a href="https://arxiv.org/abs/2001.06927">Our paper</a> has been accepted as an Oral presentation at CVPR'20.</li>
      <li class="newsElement">[Jan 2020] New <a href="https://arxiv.org/abs/2001.06927">preprint</a> analyzing reasoning in VQA models through a newly collected Sub-VQA dataset available.</li>
      <li class="newsElement">[Oct 2019] Presenting <a href="https://arxiv.org/pdf/1902.03751.pdf">our paper</a> at <a href="https://iccv2019.thecvf.com/">ICCV'19</a>.</li>
      <li class="newsElement">[Sep 2019] I was invited to present my research at <a href="https://www.microsoft.com/en-us/research/event/msr-ai-breakthroughs/">Microsoft Research AI breakthroughs</a> event.</li>
      <li class="newsElement">[Jun 2019] <a href="https://link.springer.com/article/10.1007/s11263-019-01228-7">Our paper</a></a> is published at <a href="https://link.springer.com/journal/11263">IJCV Journal</a>.</li>
      <!--
	<li class="newsElement">[May 2019] Starting as Research Intern at <a href="https://www.microsoft.com/en-us/research/group/adaptive-systems-and-interaction/">Microsoft Research</a> working with Ece Kamar and Eric Horvitz in Summer'19.</li>
      <li class="newsElement">[Feb 2019] Purva Tendulkar won the <b>best presentation award </b><a href="https://arxiv.org/pdf/1903.07820.pdf">for our paper</a></a> at <a href="http://www.computationalcreativity.net/iccc2019/">ICCC'19</a>.</li>
      <li class="newsElement">[Apr 2019] Presenting <a href="https://arxiv.org/pdf/1902.03751.pdf">our paper</a> at <a href="https://debug-ml-iclr2019.github.io/">Debug-ML workshop at ICLR'19</a>.</li>
      <li class="newsElement">[Jan 2019] Starting as Research Intern at <a href="https://www.tesla.com/autopilot">Tesla Autopilot</a> working with Andrej Karpathy during Spring'19.</li>
      <li class="newsElement">[Nov 2018] Selected as Finalist for the 2019 <a href="https://research.adobe.com/fellowship/">Adobe</a> and <a href="https://snapresearchfs.splashthat.com/">Snap</a> research fellowships.</li>
      <li class="newsElement">[Oct 2018] Our proposal on <a href="https://arxiv.org/abs/1902.03751">Levaraging Explanations to teach humans</a> received <a href="https://www.sra.samsung.com/global-partnership/"> Samsung Global Outreach (GRP) Research Grant</a>.</li>
      <li class="newsElement">[Sep 2018] Presenting <a href="https://arxiv.org/abs/1808.02861">our paper</a></a> at <a href="https://eccv2018.org/">ECCV'18</a>.</li>
      <li class="newsElement">[May 2018] Starting as Research Intern at <a href="https://www.sra.samsung.com">Samsung Research America </a> in Summer'18.</li>
      <li class="newsElement">[Oct 2019] Presenting <a href="https://arxiv.org/pdf/1610.02391.pdf">our paper</a> at <a href="http://iccv2017.thecvf.com/">ICCV'17</a>.</li>
      <li class="newsElement">[Jul 2017] Our paper titled <a href="https://arxiv.org/pdf/1610.02391.pdf">'Grad-CAM: Visual Explanations from Deep Networks via Gradient-based Localization'</a></a> was accepted in <a href="http://iccv2017.thecvf.com/">ICCV'17</a>.</li>
      <li class="newsElement">[May 2017] I will be moving from Virginia Tech to Georgia Tech along with my advisors in Fall'17.</li>
      <li class="newsElement">[Mar 2017] <a href="https://arxiv.org/abs/1604.03505">Our paper</a> was accepted in <a href="http://cvpr2017.thecvf.com/"> CVPR'17 </a> as a Spotlight.</li>
      <li class="newsElement">[May 2015] I will be joining as a PhD student at Virginia Tech working with <a href="https://www.cc.gatech.edu/~parikh/">Devi Parikh</a>.</li>
      <li class="newsElement">[Jan 2015] I will be starting as an intern at Virginia Tech working with <a href="https://www.cc.gatech.edu/~parikh/">Devi Parikh</a>.</li>
      <li class="newsElement">[May 2014] I will be spending Fall'14 at Oxford University working with <a href="http://www.robots.ox.ac.uk/~phst/">Philip Torr</a>.</li>
-->
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
